<ul class="navbar-nav px-2 sidebar">
	<a href="/admin" class="side-hero">
		<h5 class="d-inline">
			<i class="fa fa-users"></i>
		</h5>

		<span>Admission</span>
	</a>

	<hr class="">

	<li class="nav-item">
		<a href="/admin" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Dashbaord</span>
		</a>
	</li>

	<hr>

	<li class="nav-item">
		<a href="/publish" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Publish Admission</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/criteria" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Set Criteria</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/students" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Students</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/points" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Admission Points</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/admitted" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Admited</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/new-admin" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Add Admin</span>
		</a>
	</li>

	<li class="nav-item">
		<a routerLink="/admins" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>View Admins</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/logout?page=admin" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Logout</span>
		</a>
	</li>
</ul>