<ul class="navbar-nav px-2 sidebar">
	<a href="/" class="side-hero" style="text-decoration: none; padding-left: 0; padding-right: 0;">
		<h5 class="d-inline">
			<i class="fa fa-users"></i>
		</h5>

		<span>Admission System</span>
	</a>

	<hr class="">

	<li class="nav-item">
		<a href="/profile" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Dashbaord</span>
		</a>
	</li>

	<hr>

	<li class="nav-item">
		<a href="/profile" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>View Profile</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/logout?page=student" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Logout</span>
		</a>
	</li>
</ul>