<div class="container-fluid h-100 bg-light">
	<div class="row full-row">
		<aside class="col-lg-2 bg-danger">
			<app-sidebar></app-sidebar>
		</aside>

		<main class="col-lg-10 p-4">
			<div class="row">
				<div class="container-fluid">
					<div class="card">
						<div class="card-header py-0">
							<h4 class="mt-2 card-title h5">Points For Student Admission</h4>
						</div>

						<ul class="list-group">
							<li class="list-group-item">Grade A: 20</li>
							<li class="list-group-item">Grade B: 15</li>
							<li class="list-group-item">Grade C: 10</li>
							<li class="list-group-item">Grade D: 5</li>
							<li class="list-group-item">Grade E: 2</li>
							<li class="list-group-item">Grade F: 0</li>
						</ul>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>